*{
    box-sizing: border-box;}

h1.page_title{
    text-align: center;
    position: relative;
    font-size: 36px;
    line-height: 40px;
    margin: 20px 0;}

h1.page_title p.page_breadcrumb{
    font-size: 16px;
    cursor: pointer;
    color: #666;}

div.page_content{
    width: 100%;
    height: auto;
    margin: 20px 0;
    padding: 20px;}

div.page___subData{
    width: 98%;
    margin: 0 auto;
    height: 100%;
    text-align: justify;}

div.page_content h2{
    padding: 0px 20px;
    margin: 10px 0;}

div.page_content div{
    line-height: 30px;
    margin: 10px 0;}

div.page_content ul{
    padding: 0px 30px;}
